<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.tc__t" version="0.1.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AFM_TCFeb05_2.9</name>
    <description>
        Primer version de TCart ....... retomando el codigo Feb 05 2014
    </description>
    <author email="villatore@yahoo.com.mx" href="http://toruzcart.com/">
        toruzcart Team
    </author>
  <preference name="phonegap-version" value="2.9.0" />
  <!--plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" /-->
	<content src="index.html"/>
    <access origin="*" />
    <!--access origin="http://127.0.0.1*" /-->
</widget>